<!-- Header Area-->
<header class="header-area header-2">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="index.html"><img src="../../assets/img/core-img/logo.png" 
          width="58" alt=""></a>
        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#nftfinchNav" aria-controls="nftfinchNav" aria-expanded="false" 
        aria-label="Toggle navigation"><i class="bi bi-grid"></i></button>
        <!-- Navbar Nav -->
          <div class="collapse navbar-collapse" id="nftfinchNav">
            <ul class="navbar-nav navbar-nav-scroll">
            <li class="ex-st"><a routerLink = '/example-store1'>Example Stores <i class="bi bi-arrow-right-square"></i></a></li>
            <li><a href="#">How it works?</a></li>
            <li><a href="#">Pricing</a></li>
            <li class="sb-dropdown"><a href="#">Learn</a>
              <ul class="sb-dropdown-menu">
                <li><a href="">Submenu 1</a></li>
                <li><a href="">Submenu 2</a></li>
              </ul>
            </li>
          </ul>
          <!-- Login Button --><a class="btn btn-login" (click) = "loginPg()"><i class="bi bi-person-fill"></i> Login Here</a>
          <!-- Login Button --><a class="btn btn-dark" (click) = "loginPg()">Get Started</a>
        </div>
      </div>
    </nav>
  </header>