<!-- Welcome Area -->
<div class="welcome-area hero2 bg-white">
    <!-- Background Shape -->
    <div class="hero-background-shape"><img src="../../assets/img/core-img/hero-2.png" alt=""></div>
    <!-- Background Animation -->
    <div class="background-animation">
      <div class="item1"></div>
      <div class="item4"></div>
      <div class="item5"></div>
    </div>
    <!-- Hero Circle -->
    <div class="hero2-big-circle"></div>
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-between">
        <div class="col-12 col-sm-10 col-md-6">
          <!-- Welcome Content -->
          <div class="welcome-content">
            <h2 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">Launch your own marketplace to create, sell & ship NFT's</h2>
            <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">NFT Finch empowers you to launch your own NFT<br/>store without any technical knowledge.</p>
            <div class="d-flex align-items-center wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
              <form class="slider-form">
              <input placeholder="example@email.com" type="email" class="intro-email-text" name="email">
              <button class="btn btn-submitx" type="submit">Let’s Start</button>
              <div class="clearfix"></div>
              <small class="mt-3">By entering your email, you agree to receive marketing emails from NFT Finch.</small>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-10 col-md-6">
          <!-- Welcome Thumb -->
          <div class="welcome-thumb wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
              <img src="../../assets/img/illustrator/hero-6.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="border-top"></div>
  </div>