
    <!-- Service Area -->
    <div class="service-area service3 bg-black pt-60 pb-60" id="exmpl-str-sec">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-10 col-lg-10">
              <div class="section-heading">
                <h2 class="text-white">Bring your NFT Marketplace online</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <div class="clearfix"></div>
                <a href="" class="arow-link mt-3 mb-5"><span>All Marketplaces</span> <i class="bi bi-arrow-right-short"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row g-5 g-lg-4">
  
            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3" *ngFor = "let serve of services">
              <div class="card service2-card wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="100ms">
                <div class="card-body">
                  <img src="{{serve.img}}" />
                  <h5>The kpopstore</h5>
                  <a class="btn btn-dark btn-minimal" href="#">Visit Store <i class="bi bi-arrow-right-short"></i></a>
                </div>
              </div>
            </div>
  
            
  
           
  
          </div>
        </div>
      </div>
  
  