
    <!-- Pricing Plan Area-->
    <div class="nftfinch-pricing-plan-area price2 pt-60 pb-60">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="section-heading text-center">
                <h2>Start your NFT marketplace now, pick a plan later</h2>
                <p>Try NFT Finch free with starter plan, no payment information required</p>
              </div>
            </div>
          </div>
          <div class="row">
  
            <div class="col-12">
              <div class="row g-4 justify-content-center mt-4">
                <!-- Single Pricing Plan-->
                <div class="col-12 col-sm-9 col-md-7 col-lg-4">
                  <div class="card text-center pricing-card monthly-plan shadow-lg wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="pricing-heading">
                      <div class="price">
                        <h4>Starter Plan</h4>
                        <p>Ideal for new eCommerce<br/>businesses</p>
                        <div class="price-quantity">
                          <h2 class="mb-0 monthly-price">Free</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Single Pricing Plan-->
                <div class="col-12 col-sm-9 col-md-7 col-lg-4">
                  <div class="card text-center pricing-card monthly-plan active bg-img shadow-lg wow fadeInUp" style="background-image: url('img/core-img/3.png')" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="pricing-heading">
                      <div class="price">
                        <h4>Base Plan</h4>
                        <p>Ideal for new eCommerce<br/>businesses</p>
                        <div class="price-quantity">
                          <h2 class="mb-0 monthly-price"><small>$</small>30<font>USD<br/>/mo</font></h2>
                        </div>
                      </div>
                    </div>
  
                  </div>
                </div>
                <!-- Single Pricing Plan-->
                <div class="col-12 col-sm-9 col-md-7 col-lg-4">
                  <div class="card text-center pricing-card monthly-plan shadow-lg wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="700ms">
                    <div class="pricing-heading">
                      <div class="price">
                        <h4>Advance Plan</h4>
                        <p>Ideal for new eCommerce<br/>businesses</p>
                        <div class="price-quantity">
                          <h2 class="mb-0 monthly-price"><small>$</small>90<font>USD<br/>/mo</font></h2>
                        </div>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
  
              <div class="container">
                <div class="row justify-content-center mt-4">
                  <div class="col-12 col-sm-10 col-md-9 col-lg-6">
                  <div class="extra-plan">
                    <h5>Contact Us for White Label</h5>
                    <a class="badge bg-dark text-white" href="">Contact Us</a>
  
                    <p>Enterprise-grade solutions for high volume merchants, and large businesses.</p>
                  </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
      
  
  
  
      <div class="partners-area">
        <div class="container">
          <div class="row g-4 g-lg-5 align-items-center justify-content-between">
            <div class="col-12 mt-4 col-lg-6 text-center">
  
              <div class="section-heading mb-4">
                <h2>Our Team</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
              </div>
  
              <div class="register-thumbnail"><img src="../../assets/img/bg-img/5.jpg" alt=""></div>
            </div>
            <div class="col-12 col-lg-6">
  
              <div class="row mt-5 mb-3">
  
                <div class="col-12 col-sm-6">
                  <div class="card feature2-card shadow-lg wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInUp;">
                    <div class="card-body">
                      <img src="../../assets/img/partners/4.jpg"/>
                      <h5>Charanpreet Singh</h5>
                      <p>Co-Founder & CEO</p>
                    </div>
                  </div>
                </div>
  
                <div class="col-12 col-sm-6">
                  <div class="card feature2-card shadow-lg wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInUp;">
                    <div class="card-body">
                      <img src="../../assets/img/partners/3.jpg"/>
                      <h5>Craig Engelbrecht</h5>
                      <p>Co-Founder & CIO</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 col-sm-6">
                  <div class="card feature2-card shadow-lg wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInUp;">
                    <div class="card-body">
                      <img src="../../assets/img/partners/1.jpg"/>
                      <h5>Gaurav Sharma</h5>
                      <p>Co-Founder & CTO</p>
                    </div>
                  </div>
                </div>
      
                <div class="col-12 col-sm-6">
                  <div class="card feature2-card shadow-lg wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInUp;">
                    <div class="card-body">
                      <img src="../../assets/img/partners/2.jpg"/>
                      <h5>Anurag Byala</h5>
                      <p>Co-Founder & CMO</p>
                    </div>
                  </div>
                </div>
      
              </div>
  
  
            </div>
          </div>
        </div>
      </div>
          <!-- Service Area -->
    <div class="service-area service3 bg-gray pt-60 pb-60">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-9 col-lg-10">
              <div class="section-heading">
                <h2>Blogs & NFT Updates</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <div class="clearfix"></div>
                <a href="" class="arow-link black mt-3 mb-5"><span class="black">View All Blogs</span> <i class="bi bi-arrow-right-short"></i></a>            
              </div>
            </div>
          </div>
        </div>
  
        <div class="container">
          <div class="row g-5 g-lg-4">
            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="card service2-card wow fadeInUp"  id="blog-card" data-wow-duration="1000ms" data-wow-delay="100ms">
                <div class="card-body">
                  <img src="../../assets/img/blog1.png" class="blog-img"/>
                  <a class="badge bg-primary text-white mb-1" href="blog-1.html">Learn</a>
                  <h5>Fiat Payment Is Now Live | Sprint 16 Release</h5>
                  <div class="meta">March 18, 2022</div>
                  <p class="mt-2">Mo’ blockchains, mo’ problems. If you have crypto assets on multiple blockchains and/or wallets..</p>
                  <a class="btn btn-dark btn-minimal" href="#">Read more</a>
                </div>
              </div>
            </div>
  
  
            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="card service2-card wow fadeInUp"  id="blog-card" data-wow-duration="1000ms" data-wow-delay="100ms">
                <div class="card-body">
                  <img src="../../assets/img/blog1.png" class="blog-img"/>
                  <a class="badge bg-primary text-white mb-1" href="blog-1.html">Learn</a>
                  <h5>Fiat Payment Is Now Live | Sprint 16 Release</h5>
                  <div class="meta">March 18, 2022</div>
                  <p class="mt-2">Mo’ blockchains, mo’ problems. If you have crypto assets on multiple blockchains and/or wallets..</p>
                  <a class="btn btn-dark btn-minimal" href="#">Read more</a>
                </div>
              </div>
            </div>
  
  
            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="card service2-card wow fadeInUp"  id="blog-card" data-wow-duration="1000ms" data-wow-delay="100ms">
                <div class="card-body">
                  <img src="../../assets/img/blog1.png" class="blog-img"/>
                  <a class="badge bg-primary text-white mb-1" href="blog-1.html">Learn</a>
                  <h5>Fiat Payment Is Now Live | Sprint 16 Release</h5>
                  <div class="meta">March 18, 2022</div>
                  <p class="mt-2">Mo’ blockchains, mo’ problems. If you have crypto assets on multiple blockchains and/or wallets..</p>
                  <a class="btn btn-dark btn-minimal" href="#">Read more</a>
                </div>
              </div>
            </div>
  
  
            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="card service2-card wow fadeInUp"  id="blog-card" data-wow-duration="1000ms" data-wow-delay="100ms">
                <div class="card-body">
                  <img src="../../assets/img/blog1.png" class="blog-img"/>
                  <a class="badge bg-primary text-white mb-1" href="blog-1.html">Learn</a>
                  <h5>Fiat Payment Is Now Live | Sprint 16 Release</h5>
                  <div class="meta">March 18, 2022</div>
                  <p class="mt-2">Mo’ blockchains, mo’ problems. If you have crypto assets on multiple blockchains and/or wallets..</p>
                  <a class="btn btn-dark btn-minimal" href="#">Read more</a>
                </div>
              </div>
            </div>
  
  
  
          </div>
        </div>
      </div>
  
      
  
  
  
      <!-- Newsletter Area-->
      <div class="bottom-cta-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class=" newsletter-card">
                <div class="card-body">
                  <div class="text-center">
                    <h2>Start your NFT Marketplace with NFT Finch</h2>
                    <p class="mb-3">Try NFT Finch for free, and explore all the tools and services you need to start, run,<br/>
                      and grow your business.
                      </p>
                  </div>
                    <div class="row justify-content-center">
                      <div class="col-12 col-md-3">
                        <a href="#" class="btn btn-dark w-100 mt-3 mt-md-0">Create Free</a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
  
  